<%- include('partials/header') %>
<div class="">
    <nav class="px-28 justify-end py-2 flex space-x-11 top-0 fixed bg-slate-100 z-10 w-full max-[320px]:justify-start max-[320px]:text-xl max-[320px]:mr-96 max-[320px]:px-5 max-[320px]:space-x-5">
      <a class="btn btn-light btn-lg h-10 w-32 pb-3 border-black" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg h-10 w-32 pb-3" href="/login" role="button">Login</a>
      </nav>
    <h1 style="font-family: Caveat;" class="flex justify-center align-middle font-bold text-6xl mt-36 ml-10">Quiz Conductor</h1>
    <div class="flex justify-center mt-36 gap-x-10">
    <p class="font-serif">Welcome to my quiz website made by Sharad Menon. To start please go ahead and login to your account or if you are new please register.</p>
  </div>
    <div class="flex justify-center mt-32 w-[50%] ml-[28%]">
      <h1 class="font-bold">Note:</h1>
      <p class="font-sans">  THIS PROJECT IS INCOMPLETE I COUDNT GET TIME TO COMPLETE THIS PROJECT....I WASNT GETTING THE IDEA ON HOW TO MAKE PEOPLE CREATE THE QUIZ AND NEEDED TO DO RESEARCH BUT I FELL SICK BUT I PROMISE I WILL COMPLETE THIS PROJECT ONE DAY.... SO FOR NOW THIS IS ALL I GOT... I NEED TO MAKE IT FUNCTION PROPERLY AND ALSO DO DESIGNING AND ADD MORE FEATURES.</p>
  </div>
</div>
<div class="">
  <footer class="mt-[24rem] justify-center flex">Copyright 2024 Sharad Menon</footer>
</div>
